/* Reset des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style du fond gris */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

/* Style de l'en-tête avec le titre */
header {
    padding: 20px;
    text-align: center;
}

/* Style du logo */
.logo img {
    max-width: 100px; /* Ajustez cette valeur selon vos besoins */
}

/* Style du titre */
.title {
    color: #007bff; /* Couleur bleue pour correspondre aux boutons */
    font-size: 24px;
}

/* Style du conteneur du formulaire */
.form-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrer le contenu */
}

/* Style des champs du formulaire */
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style des boutons */
.blue-button, .secondary-button {
    background-color: #007bff; /* Bleu */
    color: #fff; /* Blanc */
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Supprimer la décoration du lien */
    display: inline-block; /* Permet d'utiliser les marges */
    transition: background-color 0.3s;
}

.blue-button:hover, .secondary-button:hover {
    background-color: #0056b3; /* Couleur bleue plus foncée au survol */
}

.secondary-button {
    background-color: #6c757d; /* Gris */
}

.secondary-button:hover {
    background-color: #5a6268; /* Gris plus foncé au survol */
}

/* Style du pied de page */
footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

/* Style des liens dans le pied de page */
.footer-links a {
    color: #333; /* Couleur de texte sombre */
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}
